# General
.DS_Store
*.log

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Build artifacts
*.apk
*.zip
*.app.zip
